* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Data */


.Data1 {
    text-align: center;
    margin-top: 144px;
    height: 750px;
}


.Data1 h1 {
    font-size: 40px;
    font-weight: 800;
    color: #2B1B12;
}


.data-card1 {
    width: 382px;
    height: 534px;
    background-color: #DDC7BB;
    box-shadow: 0px 4px 30px 0px #2B1B121F;
    border-radius: 18px;
    transition: 0.3s;
}


.data-card1:hover {
    transform: scale(1.1);
}


.data-card1 h1 {
    font-size: 20px;
    font-weight: 700;
    color: #2B1B12;
    text-align: left;
    margin-left: 52px;
    margin-top: 18px;
}


.data-card1 h4 {
    font-size: 18px;
    font-weight: 600;
    color: #4F3527;
    margin-left: 52px;
    text-align: left;
    margin-top: 25px;
    width: 80px;
}


.data-card1 button {
    width: 98px;
    height: 40px;
    border: 0px;
    border-radius: 8px;
    background-color: #2B1B12;
    color: white;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 600;
}


.data-card1 h3 {
    margin-top: 35px;
    font-size: 22px;
    font-weight: 700;
    color: #4F3527;
}

.h4 {
    display: flex;
}


.addroom-price1 {
    display: flex;
    gap: 20px;
    padding-left: 50px;
}


.data-card1 img {
    border-radius: 18px;
}


.Database-cards1 {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 64px;
}


/* Loading */


.loading-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #e5e7eb;
  border-top: 6px solid #3b82f6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  text-align: center;
  margin-top: 40px;
}

/* Loading tugadi */